<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exoabilities</key>
	<array>
		<string>Exo Shield</string>
		<string>Exo Overclock</string>
		<string>Exo Mute Device</string>
		<string>Exo Stim</string>
		<string>Exo Cloak</string>
		<string>Exo Hover</string>
		<string>Exo Ping</string>
		<string>Exo Trophy System</string>
	</array>
</dict>
</plist>
