<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exolaunchers</key>
	<array>
		<string>Frag</string>
		<string>Stun Grenade</string>
		<string>Variable Grenade</string>
		<string>Semtex</string>
		<string>Tracking Drone</string>
		<string>Threat Grenade</string>
		<string>EMP Grenade</string>
		<string>Smoke Grenade</string>
		<string>Explosive Drone</string>
		<string>Spike Drone</string>
	</array>
</dict>
</plist>
