<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Perk 1</key>
	<array>
		<string>Lightweight</string>
		<string>Low Profile</string>
		<string>Flak Jacket</string>
		<string>Overcharged</string>
		<string>Danger Close</string>
	</array>
	<key>Perk 2</key>
	<array>
		<string>Peripherals</string>
		<string>Blind Eye</string>
		<string>Cold-Blooded</string>
		<string>Gung-Ho</string>
		<string>Fast Hands</string>
	</array>
	<key>Perk 3</key>
	<array>
		<string>Hard Wired</string>
		<string>Toughness</string>
		<string>Blast Suppressor</string>
		<string>Scavenger</string>
		<string>Hardline</string>
	</array>
</dict>
</plist>
