<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AN-94</key>
	<array>
		<string>Reflex</string>
		<string>Quickdraw</string>
		<string>Fast Mag</string>
		<string>ACOG</string>
		<string>Fore Grip</string>
		<string>Stock</string>
		<string>Target Finder</string>
		<string>Laser Sight</string>
		<string>Select Fire</string>
		<string>EOTech</string>
		<string>Suppressor</string>
		<string>FMJ</string>
		<string>Hybrid Optic</string>
		<string>Extended Clip</string>
		<string>Launcher</string>
		<string>MMS</string>
	</array>
	<key>Assualt Shield</key>
	<array/>
	<key>Ballista</key>
	<array>
		<string>Suppressor</string>
		<string>Ballistic CPU</string>
		<string>Zoom</string>
		<string>Fast Mag</string>
		<string>FMJ</string>
		<string>ACOG</string>
		<string>Extended Clip</string>
		<string>Laser Sight</string>
		<string>Dual Band</string>
		<string>Iron Sight</string>
	</array>
	<key>Chicom CQB</key>
	<array>
		<string>Reflex</string>
		<string>Laser Sight</string>
		<string>Suppressor</string>
		<string>Fast Mag</string>
		<string>EOTech</string>
		<string>Fore Grip</string>
		<string>Quickdraw</string>
		<string>FMJ</string>
		<string>Long Barrel</string>
		<string>Target Finder</string>
		<string>Stock</string>
		<string>Extended Clip</string>
		<string>Select Fire</string>
		<string>Rapid Fire</string>
		<string>MMS</string>
	</array>
	<key>DSR 50</key>
	<array>
		<string>Suppressor</string>
		<string>Ballistic CPU</string>
		<string>Zoom</string>
		<string>Fast Mag</string>
		<string>FMJ</string>
		<string>ACOG</string>
		<string>Extended Clip</string>
		<string>Laser Sight</string>
		<string>Dual Band</string>
	</array>
	<key>FAL DSW</key>
	<array>
		<string>Reflex</string>
		<string>Quickdraw</string>
		<string>Fast Mag</string>
		<string>ACOG</string>
		<string>Fore Grip</string>
		<string>Stock</string>
		<string>Target Finder</string>
		<string>Laser Sight</string>
		<string>Select Fire</string>
		<string>EOTech</string>
		<string>Suppressor</string>
		<string>FMJ</string>
		<string>Hybrid Optic</string>
		<string>Extended Clip</string>
		<string>Launcher</string>
		<string>MMS</string>
	</array>
	<key>HAMR</key>
	<array>
		<string>EOTech</string>
		<string>Fore Grip</string>
		<string>FMJ</string>
		<string>Reflex</string>
		<string>Quickdraw</string>
		<string>Target Finder</string>
		<string>Stock</string>
		<string>ACOG</string>
		<string>Laser Sight</string>
		<string>Suppressor</string>
		<string>Zoom</string>
		<string>Extended Clip</string>
		<string>Hybrid Optic</string>
		<string>Rapid Fire</string>
		<string>Dual Band</string>
	</array>
	<key>KSG</key>
	<array>
		<string>Reflex</string>
		<string>Long Barrel</string>
		<string>Fast Mag</string>
		<string>Laser Sight</string>
		<string>Stock</string>
		<string>Suppressor</string>
		<string>Extended Clip</string>
		<string>Quickdraw</string>
		<string>MMS</string>
	</array>
	<key>LSAT</key>
	<array>
		<string>EOTech</string>
		<string>Fore Grip</string>
		<string>FMJ</string>
		<string>Reflex</string>
		<string>Quickdraw</string>
		<string>Target Finder</string>
		<string>Stock</string>
		<string>ACOG</string>
		<string>Laser Sight</string>
		<string>Suppressor</string>
		<string>Zoom</string>
		<string>Extended Clip</string>
		<string>Hybrid Optic</string>
		<string>Rapid Fire</string>
		<string>Dual Band</string>
	</array>
	<key>M1216</key>
	<array>
		<string>Reflex</string>
		<string>Long Barrel</string>
		<string>Fast Mag</string>
		<string>Laser Sight</string>
		<string>Stock</string>
		<string>Suppressor</string>
		<string>Extended Clip</string>
		<string>Quickdraw</string>
		<string>MMS</string>
	</array>
	<key>M27</key>
	<array>
		<string>Reflex</string>
		<string>Quickdraw</string>
		<string>Fast Mag</string>
		<string>ACOG</string>
		<string>Fore Grip</string>
		<string>Stock</string>
		<string>Target Finder</string>
		<string>Laser Sight</string>
		<string>Select Fire</string>
		<string>EOTech</string>
		<string>Suppressor</string>
		<string>FMJ</string>
		<string>Hybrid Optic</string>
		<string>Extended Clip</string>
		<string>Launcher</string>
		<string>MMS</string>
	</array>
	<key>M8A1</key>
	<array>
		<string>Reflex</string>
		<string>Quickdraw</string>
		<string>Fast Mag</string>
		<string>ACOG</string>
		<string>Fore Grip</string>
		<string>Stock</string>
		<string>Target Finder</string>
		<string>Laser Sight</string>
		<string>Select Fire</string>
		<string>EOTech</string>
		<string>Suppressor</string>
		<string>FMJ</string>
		<string>Hybrid Optic</string>
		<string>Extended Clip</string>
		<string>Launcher</string>
		<string>MMS</string>
	</array>
	<key>MK 48</key>
	<array>
		<string>EOTech</string>
		<string>Fore Grip</string>
		<string>FMJ</string>
		<string>Reflex</string>
		<string>Quickdraw</string>
		<string>Target Finder</string>
		<string>Stock</string>
		<string>ACOG</string>
		<string>Laser Sight</string>
		<string>Suppressor</string>
		<string>Zoom</string>
		<string>Extended Clip</string>
		<string>Hybrid Optic</string>
		<string>Rapid Fire</string>
		<string>Dual Band</string>
	</array>
	<key>MP7</key>
	<array>
		<string>Reflex</string>
		<string>Laser Sight</string>
		<string>Suppressor</string>
		<string>Fast Mag</string>
		<string>EOTech</string>
		<string>Fore Grip</string>
		<string>Quickdraw</string>
		<string>FMJ</string>
		<string>Long Barrel</string>
		<string>Target Finder</string>
		<string>Stock</string>
		<string>Extended Clip</string>
		<string>Select Fire</string>
		<string>Rapid Fire</string>
		<string>MMS</string>
	</array>
	<key>MSMC</key>
	<array>
		<string>Reflex</string>
		<string>Laser Sight</string>
		<string>Suppressor</string>
		<string>Fast Mag</string>
		<string>EOTech</string>
		<string>Fore Grip</string>
		<string>Quickdraw</string>
		<string>FMJ</string>
		<string>Long Barrel</string>
		<string>Target Finder</string>
		<string>Stock</string>
		<string>Extended Clip</string>
		<string>Select Fire</string>
		<string>Rapid Fire</string>
		<string>MMS</string>
	</array>
	<key>MTAR</key>
	<array>
		<string>Reflex</string>
		<string>Quickdraw</string>
		<string>Fast Mag</string>
		<string>ACOG</string>
		<string>Fore Grip</string>
		<string>Stock</string>
		<string>Target Finder</string>
		<string>Laser Sight</string>
		<string>Select Fire</string>
		<string>EOTech</string>
		<string>Suppressor</string>
		<string>FMJ</string>
		<string>Hybrid Optic</string>
		<string>Extended Clip</string>
		<string>Launcher</string>
		<string>MMS</string>
	</array>
	<key>PDW-57</key>
	<array>
		<string>Reflex</string>
		<string>Laser Sight</string>
		<string>Suppressor</string>
		<string>Fast Mag</string>
		<string>EOTech</string>
		<string>Fore Grip</string>
		<string>Quickdraw</string>
		<string>FMJ</string>
		<string>Long Barrel</string>
		<string>Target Finder</string>
		<string>Stock</string>
		<string>Extended Clip</string>
		<string>Select Fire</string>
		<string>Rapid Fire</string>
		<string>MMS</string>
	</array>
	<key>Peacekeeper</key>
	<array>
		<string>Reflex</string>
		<string>Laser Sight</string>
		<string>Suppressor</string>
		<string>Fast Mag</string>
		<string>EOTech</string>
		<string>Fore Grip</string>
		<string>Quickdraw</string>
		<string>FMJ</string>
		<string>Long Barrel</string>
		<string>Target Finder</string>
		<string>Stock</string>
		<string>Extended Clip</string>
		<string>Select Fire</string>
		<string>Rapid Fire</string>
		<string>MMS</string>
	</array>
	<key>QBB LSW</key>
	<array>
		<string>EOTech</string>
		<string>Fore Grip</string>
		<string>FMJ</string>
		<string>Reflex</string>
		<string>Quickdraw</string>
		<string>Target Finder</string>
		<string>Stock</string>
		<string>ACOG</string>
		<string>Laser Sight</string>
		<string>Suppressor</string>
		<string>Zoom</string>
		<string>Extended Clip</string>
		<string>Hybrid Optic</string>
		<string>Rapid Fire</string>
		<string>Dual Band</string>
	</array>
	<key>Remington 870 MCS</key>
	<array>
		<string>Reflex</string>
		<string>Long Barrel</string>
		<string>Fast Mag</string>
		<string>Laser Sight</string>
		<string>Stock</string>
		<string>Suppressor</string>
		<string>Extended Clip</string>
		<string>Quickdraw</string>
		<string>MMS</string>
	</array>
	<key>SCAR-H</key>
	<array>
		<string>Reflex</string>
		<string>Quickdraw</string>
		<string>Fast Mag</string>
		<string>ACOG</string>
		<string>Fore Grip</string>
		<string>Stock</string>
		<string>Target Finder</string>
		<string>Laser Sight</string>
		<string>Select Fire</string>
		<string>EOTech</string>
		<string>Suppressor</string>
		<string>FMJ</string>
		<string>Hybrid Optic</string>
		<string>Extended Clip</string>
		<string>Launcher</string>
		<string>MMS</string>
	</array>
	<key>SMR</key>
	<array>
		<string>Reflex</string>
		<string>Quickdraw</string>
		<string>Fast Mag</string>
		<string>ACOG</string>
		<string>Fore Grip</string>
		<string>Stock</string>
		<string>Target Finder</string>
		<string>Laser Sight</string>
		<string>Select Fire</string>
		<string>EOTech</string>
		<string>Suppressor</string>
		<string>FMJ</string>
		<string>Hybrid Optic</string>
		<string>Extended Clip</string>
		<string>Launcher</string>
		<string>MMS</string>
	</array>
	<key>SVU-AS</key>
	<array>
		<string>Suppressor</string>
		<string>Ballistic CPU</string>
		<string>Zoom</string>
		<string>Fast Mag</string>
		<string>FMJ</string>
		<string>ACOG</string>
		<string>Extended Clip</string>
		<string>Laser Sight</string>
		<string>Dual Band</string>
	</array>
	<key>SWAT-556</key>
	<array>
		<string>Reflex</string>
		<string>Quickdraw</string>
		<string>Fast Mag</string>
		<string>ACOG</string>
		<string>Fore Grip</string>
		<string>Stock</string>
		<string>Target Finder</string>
		<string>Laser Sight</string>
		<string>Select Fire</string>
		<string>EOTech</string>
		<string>Suppressor</string>
		<string>FMJ</string>
		<string>Hybrid Optic</string>
		<string>Extended Clip</string>
		<string>Launcher</string>
		<string>MMS</string>
	</array>
	<key>Saiga-12</key>
	<array>
		<string>Reflex</string>
		<string>Long Barrel</string>
		<string>Fast Mag</string>
		<string>Laser Sight</string>
		<string>Stock</string>
		<string>Suppressor</string>
		<string>Extended Clip</string>
		<string>Quickdraw</string>
		<string>MMS</string>
	</array>
	<key>Skorpion EVO</key>
	<array>
		<string>Reflex</string>
		<string>Laser Sight</string>
		<string>Suppressor</string>
		<string>Fast Mag</string>
		<string>EOTech</string>
		<string>Fore Grip</string>
		<string>Quickdraw</string>
		<string>FMJ</string>
		<string>Long Barrel</string>
		<string>Target Finder</string>
		<string>Stock</string>
		<string>Extended Clip</string>
		<string>Select Fire</string>
		<string>Rapid Fire</string>
		<string>MMS</string>
	</array>
	<key>Type 25</key>
	<array>
		<string>Reflex</string>
		<string>Quickdraw</string>
		<string>Fast Mag</string>
		<string>ACOG</string>
		<string>Fore Grip</string>
		<string>Stock</string>
		<string>Target Finder</string>
		<string>Laser Sight</string>
		<string>Select Fire</string>
		<string>EOTech</string>
		<string>Suppressor</string>
		<string>FMJ</string>
		<string>Hybrid Optic</string>
		<string>Extended Clip</string>
		<string>Launcher</string>
		<string>MMS</string>
	</array>
	<key>Vector K10</key>
	<array>
		<string>Reflex</string>
		<string>Laser Sight</string>
		<string>Suppressor</string>
		<string>Fast Mag</string>
		<string>EOTech</string>
		<string>Fore Grip</string>
		<string>Quickdraw</string>
		<string>FMJ</string>
		<string>Long Barrel</string>
		<string>Target Finder</string>
		<string>Stock</string>
		<string>Extended Clip</string>
		<string>Select Fire</string>
		<string>Rapid Fire</string>
		<string>MMS</string>
	</array>
	<key>XPR-50</key>
	<array>
		<string>Suppressor</string>
		<string>Ballistic CPU</string>
		<string>Zoom</string>
		<string>Fast Mag</string>
		<string>FMJ</string>
		<string>ACOG</string>
		<string>Extended Clip</string>
		<string>Laser Sight</string>
		<string>Dual Band</string>
	</array>
</dict>
</plist>
