<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scorestreaks</key>
	<array>
		<string>Aerial Recon Drone</string>
		<string>UAV</string>
		<string>Aerial Assault Drone</string>
		<string>Orbital Care Package</string>
		<string>Remote Turret</string>
		<string>System Hack</string>
		<string>XS1 Vulcan</string>
		<string>Missile Strike</string>
		<string>Bombing Run</string>
		<string>XS1 Vulcan Goliath</string>
		<string>Warbird</string>
		<string>Paladin</string>
	</array>
</dict>
</plist>
