<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UMP</key>
	<array>
		<string>Red Dot</string>
		<string>ACOG</string>
		<string>Silencer</string>
		<string>Rapid Fire</string>
		<string>Grip</string>
		<string>Akimbo</string>
	</array>
	<key>Scar</key>
	<array>
		<string>Red Dot</string>
		<string>ACOG</string>
		<string>Silencer</string>
		<string>Grip</string>
		<string>Akimbo</string>
	</array>
</dict>
</plist>
